:root {
    --black: #212529;
    --dark: #343a40;
    --gray: #495057;
    --white: #e9ecef;
    --blue: #1c7ed6;
    --red: #f03e3e;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    padding: 2rem 3rem;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    background-color: var(--dark);
    color: var(--white);
    font-size: 1.6rem;
    text-align: center;
}

*::selection {
    color: var(--dark);
    background-color: var(--white);
}

a:link,
a:visited {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    flex-wrap: 1;
}

h1 {
    font-weight: 900;
    display: flex;
    gap: .8rem;
}

h1 a svg {
    fill: var(--white) !important;
    text-decoration: none;
    width: 2.4rem;
    height: 2.4rem;
}

h2 {
    border-bottom: 2px solid var(--gray);
    padding-bottom: .6rem;
}

h3 {
    border-top: 2px dotted var(--gray);
    padding-top: 1.4rem;
}

h3:hover {
    text-decoration: underline dotted var(--blue);
}

h3:first-of-type {
    border-top: none;
    padding-top: none;
}

code,
pre {
    max-width: fit-content;
    font-family: "JetBrains Mono", monospace;
    padding: 1rem 1.6rem;
    border-radius: .5rem;
    background-color: var(--black);
}

code {
    padding: .4rem;
    border-radius: none;
    background-color: var(--black);
    font-size: inherit;
}

blockquote {
    border-left: 2px solid var(--red);
    padding-left: .8rem;
}